@import './base.css';

#app {
  display: flex;
  width: screen;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    justify-content: center;
  }

  #app {
    flex-direction: column;
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .results{
    font-size: 25px;
  }
  .h1{
    font-size: 40px;
  }
  .start-button{
    background-color: #0099ff;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }
  .rank{
    font-size: 25px;
  }
  .countdown
  {
    font-size: 25px;
  }
}
